{% extends 'base.html' %}
    {% block title %}Recipe Browser{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <div id="recipe-container">
    {% for recipe,username in recipeList %}
        <div class="recipe-box">
            <a class="no-show-link" href="/recipes/{{ recipe.id }}"><h3 class="recipe-name">{{ recipe.name }}</h3>
                <p class="recipe-description">{{ recipe.description }}</p></a>
            <p class="author"><a class="no-show-link" href="/users/{{ recipe.user_id }}">By: {{ username }}</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}